<html>
  <head>
    <title>Quotes</title>

    <link href="/components/flat-ui/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/components/flat-ui/dist/css/flat-ui.min.css" rel="stylesheet">
    <link href="/styles/app.css" rel="stylesheet">
  </head>
  <body>
    <!-- Render the current template here -->
    <div class="container">
     {{ yield }}
    </div>
  </body>
</html>
